/* Layout */

body {
    font:normal 14px/2.0em Arial, Helvetica, sans-serif;
	color:#2a3845;
	margin:0;
	padding:0;
	background:#FFFFFF;
	line-height: 200%;
	text-indent: normal;
	text-align: justify;
}

p {
	margin:1;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:1200px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

#header {
	margin:0 1px;
}

#bg {
	height:36px;
	width: 702px;
	text-decoration: none;
	background: transparent;
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:center;
}

#center {
	margin:0 auto;
	width:520px;
}

#center-text {
	margin:0 auto;
	width:1000px;
}

#left-column {
	width:300px;
	padding:0 0px 0px;
	float:left;
}

#bottom-left {
	width:720px;
	padding:0 30px 30px;
	float:left;
}

#right-column {
	width:300px;
	float:right;
}

#right-text {
	padding: 0 0 1px 1px;
	width:920px;
	float:right;
}

#bottom-right {
	width:350px;
	padding:0 30px 30px;
	float:right;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;
	background: transparent;
}

#footer {
	background:#f7f7f7;
	border-top:1px solid #f0e9eb;
	padding:10px 15px;
	clear:both;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h0 {
	color:black;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 20px Georgia, serif;
	border-bottom:2px solid #efece7;
}

h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

ul {
	padding:0;
	margin:0 0 0 17px;
	list-style:none;
}

.box {
	background:#f7f7f7;
	border:1px solid #f0e9eb;
	padding:15px;
}

#nav {
	background:#06a;
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
	font-size: 20px !important;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 20px Georgia, serif;
	color:#7a2e40;
}
.video-cont {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video-text {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-self: center;
}
